<div class="container my-2 ds-heading">
  <h3> Graphs </h3>
  <button class="btn backBtn" [routerLink]="['']"> X </button>
</div>

<hr class="my-2 container">

<div class="container my-2 linkedListContent">
  <p>
    A graph is a non-linear data structure consisting of a collection of nodes (vertices) and edges that connect pairs of nodes.
    Graphs are widely used in computer science and other fields to model relationships between objects. They are particularly useful
    for representing networks, social connections, transportation systems, and more.</p>

  <h5>Types of Graph : </h5>
  <p>Coming Soon</p>

<!--  <ul>-->
<!--    <li>-->
<!--      <b>Singly Linked List:</b>-->
<!--      <p> Each node contains a data element and a reference to the next node in the sequence.-->
<!--        The last node typically points to null to indicate the end of the list.</p>-->

<!--      <b>Doubly Linked List:</b>-->
<!--      <p> Each node contains a data element and references to both the next and previous nodes in the sequence.-->
<!--        This allows traversal of the list in both forward and backward directions.</p>-->

<!--      <b>Circular Linked List:</b>-->
<!--      <p> In this type of linked list, the last node points back to the first node, forming a circular structure.-->
<!--        Circular linked lists can be singly or doubly linked.</p>-->
<!--    </li>-->
<!--  </ul>-->

  <hr class="my-2">
</div>
