.ds-heading{
  display: flex;
  justify-content: space-between;
}

.backBtn{
  background-color: #8d0303;
  color: white;
}
.backBtn:hover{
  background-color: #e00000;
}

.media-stack{
  display: flex;
  align-items: center;
  .video{
    video{
      width: 60% !important;
      height: 40% !important;
    }
  }
}

