.ds-heading{
  display: flex;
  justify-content: space-between;
}

.backBtn{
  background-color: #8d0303;
  color: white;
}
.backBtn:hover{
  background-color: #e00000;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 30%;
    height: 20%;
  }
}
