<div class="container my-2 ds-heading">
  <h3> Stack </h3>
  <button class="btn backBtn" [routerLink]="['']"> X </button>
</div>

<hr class="my-2 container">

<div class="container my-2 linkedListContent" id="pdfTable" #pdfTable>
  <p>A stack is a fundamental data structure that follows the Last In, First Out (LIFO) principle, meaning that the most recently
    added element is the one that is removed first. This data structure is widely used in various applications, including function
    call management, expression evaluation, and backtracking algorithms.</p>
  <hr class="my-2">
</div>

<div class="container implementation my-2">
  <div class="row media-stack">
    <div class="col-12 col-sm-12 col-md-6 col-lg-16 operations">
      <h5>Basic Operations : </h5>
      <ul>
        <li> <b>Push:</b> Add an element to the top of the stack. </li>
        <li> <b>Pop:</b> Remove and return the top element of the stack. </li>
        <li> <b>Peek (Top):</b> Return the top element without removing it. </li>
        <li> <b>IsEmpty:</b> Check if the stack is empty. </li>
        <li> <b>Size:</b> Return the number of elements in the stack. </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-16 video">
      <video width="600" height="300" controls autoplay loop muted>
        <source src="./assets/videos/Stack_Animations.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <hr class="my-2">
</div>
