<div class="container my-2 ds-heading">
  <h3> Queues </h3>
  <button class="btn backBtn" [routerLink]="['']"> X </button>
</div>

<hr class="my-2 container">

<div class="container my-2 linkedListContent">
  <p>A queue is a fundamental data structure that follows the First In, First Out (FIFO) principle, meaning that the first element
    added to the queue will be the first one to be removed. This data structure is commonly used in scenarios where order matters,
    such as in scheduling tasks, handling requests, and managing resources.</p>

  <h5>Basic Operations : </h5>

  <ul>
    <li> <b>Enqueue:</b> Add an element to the end of the queue. </li>
    <li> <b>Dequeue:</b> Remove and return the element from the front of the queue. </li>
    <li> <b>Front (Peek):</b> Return the front element without removing it. </li>
    <li> <b>IsEmpty:</b> Check if the queue is empty. </li>
    <li> <b>Size:</b> Return the number of elements in the queue. </li>
  </ul>

  <hr class="my-2">
</div>
